<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Integration complete</title>
</head>
<style>
    html, body {
        font-family: Arial, Helvetica, sans-serif;
        background: #fff;
    }
    h3 {
        color: #be1515;
    }
    section {
        width: 98%;
        margin: 30px auto;
        background: #eee;
        border-radius: 10px;
        padding: 10px 50px 30px 100px;
        box-sizing: border-box;
        }
    img {
        float:left;
        margin-left: -75px;
        margin-top: 16px;
    }
</style>
<body>
    <section>
        <img src="{{ url_for('static', filename='logo_accredible.png') }}" width="90" />
        <h1>SEI Data to SendGrid</h1>
        <h3>The integration is complete!</h3>
        <p>You can now have SEI trigger custom emails with SendGrid.</p>
    </section>
</body>
</html>